@font-face {
    font-family: 'Homizio';
    src: ('../font/Homizio.ttf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Homizio'!important;
}

#redes {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin: 0;
}
#redes li {
    display: inline-block;
    margin: 10px;
    color: #000;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#redes li.active {
    color: #fff;
}

.nopadding{
    padding: 0 !important;
}
/* Backgrounds will cover all the section
    	* --------------------------------------- */

.section {
    background-size: cover;
}

.slide {
    background-size: cover;
}

/* Defining each section background and styles
    	* --------------------------------------- */

#section0 {
    background-image: url(../img/background.jpg);
    background-position: bottom;
}

#section0 h1 {
    top: 0;
    position: relative;
}

#section2 {
    position: relative;
    background-color: rgba(0, 0, 0, .9);
    overflow: hidden;
}

#section2::before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url('../img/section2.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;    
}

#section2 h1 {
    top: 0;
    position: relative;
}


.bio {
    font-size: 20px;
    text-align: justify;
    color: #fff;
    position: relative;
    z-index: 10;
}

input, label{
    width: 100%;
}

input{
    padding: 10px 10px;
}

label{
    text-align: left;
    color: rgb(58, 57, 57);
    text-transform: uppercase;
    font-size: 21px;
    margin: 15px 0px !important;
}



/*Adding background for the slides
    	* --------------------------------------- */

#slide1 {
    background-image: url(imgs/bg2.jpg);
    padding: 6% 0 0 0;
}

#slide2 {
    background-image: url(imgs/bg5.jpg);
    padding: 6% 0 0 0;
}
/* Bottom menu
    	* --------------------------------------- */

#infoMenu li a {
    color: #fff;
}

.scrollable-element {
    height: 400px;
    width: 100%;
    overflow-y: scroll;
    margin: 0 auto;
}


